.el-table__body tr.current-row > td{
    background-color: #4081cc !important;
    color: #fff !important;
}
.elx-table--body tr.row--current > td{
    background-color: #4081cc !important;
    color: #fff !important;
}

.app-breadcrumb.el-breadcrumb .no-redirect{
    color:white !important;
}

.el-breadcrumb__separator{
    color:white !important;
}

.el-form-item__label{
    color:black !important;
}


th{
    color:black !important;
}
td{
    color:black !important;
}
// .sort-caret.ascending{
//     border-bottom-color:#737476 !important;
// }
// .sort-caret.descending{
//     border-top-color:#737476 !important;
// }
.el-menu-item{
    color:black !important;
}
.el-submenu__title{
    color:black !important;
}
.el-input-group__append, .el-input-group__prepend{
    color:black !important;
}
.redItem .el-form-item__label {
    color: #e71700f2 !important;
}
.el-pagination__total{
    color:black !important;
}
.el-pagination__sizes{
    color:black !important;
}
.el-pagination.is-background .btn-next.disabled, .el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev.disabled, .el-pagination.is-background .btn-prev:disabled, .el-pagination.is-background .el-pager li.disabled{
    color:black !important;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    color:black !important;
}
.el-select .el-input__inner{
    color:black !important;
}
.el-input--mini .el-input__inner{
    color:black !important;
}
.tags-view-container .tags-view-wrapper .tags-view-item{
    color:black !important;
}
.el-card{
    color:black !important;
}
.el-tree{
    color:black !important;
}